@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    font-family:"Roboto", sans-serif ;
     box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-align: center;

}

html, body {
  width: 100%;
  overflow-x: hidden;
}




/* banner*/
.banner{
    background-image:url('./assets/images/banner.png'),linear-gradient( #111316fd, #01141f, #04394e);
    background-repeat: no-repeat;
    background-size: 200vh;
    width: 100%;
    height: 50rem;
    
}

/*Texto do Banner*/

.logo img{
    background-color: rgba(0, 0, 0,0.5);
    border-radius: 100%;
    margin-top: 2rem;
}

.banner-content{
color: #33A8DB;

}

.banner-content h1 {
  font-size: 4rem;
  font-weight: 900;
  text-transform: uppercase;
}

.banner-content p{
    color: white;
    font-size: 1.5rem;
    margin-top: 2rem;
}

.banner-content button{
    margin-top: 3rem;
    font-size: 2rem;
    font-weight: 900;
    padding: 1rem;
    color: #33A8DB;
    border:solid 2px #33A8DB; ;
    background-color: transparent;
    width: 30%;
    
}
.banner-content button:hover{
    color: white;
    background-color: #0f70d1;
    transition: 0.8s;
    transform: scale(1.07);

}

/* oque vou aprender*/

#course-content{
    color: white;
    border-top: solid #31A8DD;
    background-color: black;
    height: 50rem;
}

#course-content h2{
    margin-top: 6rem;
    color: #33A8DB;
    font-size: 3rem;
    text-transform: uppercase;
}

#course-content p{
margin-top: 2rem;
font-size: 1.4rem;    
max-width: 65%;
margin: auto;
}

.modules-list{
    margin-top: 2rem;
    
}

span{
    color: #31A8DD;
}

.module1{
    
    padding: 1.5rem;
    font-size: 1.5rem;
    background-color: rgb(46, 41, 41);
    border:solid 1px #33A8DB;
    border-radius: 30px;
    width: 60%;
    margin: 10px auto;
    font-weight: 200;
}

.module2{
    padding: 1.5rem;
    font-size: 1.5rem;
    background-color: rgb(46, 41, 41);
    border:solid 1px #33A8DB;
    border-radius: 30px;
    margin: 10px auto;
    width: 60%;
    font-weight: 200;
}

.module3{
    padding: 1.5rem;
    font-size: 1.5rem;
    background-color: rgb(46, 41, 41);
    border:solid 1px #33A8DB;
    border-radius: 30px;
    width: 60%;
    margin: 10px auto;
    font-weight: 200;
}

/*Imagem do meio | texto motivador*/

#transform-world{
     border-top:solid  #33A8DB;
    background-image: url('./assets/images/woman-code.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
    width: 100%;
    height: 35rem;
    padding: 4rem 2rem;
}

#transform-world p{
    color: white;
    margin-top: 5rem;
    text-align: left;
    font-size: 3rem;
    word-wrap: break-word;
    width: 18%;
    font-weight: 700;
      text-shadow: 
     1px 1px 0 #31A8DD,
    2px 2px 0 #1e90ff,
    3px 3px 0 #0f70d1,
    4px 4px 0 #2265ad,
    5px 5px 10px rgba(0, 0, 0, 0.5);
}

/*Desafios Profissionais*/

#professional-challenges{
    
    border-top:solid  #33A8DB;
    background-color: #070707;
    height: 50rem;
    font-weight: 300;
}

#professional-challenges h2{
    margin-top: 3rem;
    color: #33A8DB;
    font-size: 3rem;
}

#professional-challenges p{
    margin:auto;
    color: white;
    font-size: 1.5rem;
    width: 65%;
    word-wrap: break-word;
}

/*footer*/

footer{
    border-top:solid  #33A8DB;
    height: 10rem;
    background-image: linear-gradient( #111316fd, #01141f, #04394e)
    
}

.dio-logo{
  margin-top: 50px;
}

footer p{
font-size: 1.5rem;
color: white;
}
footer a{
    font-size: 1.5rem;
    text-decoration: none;
    color: #33A8DB;
}

/* Responsividade */

@media screen and (max-width: 380px) {

    .banner{
        height: 35rem;
    }

    .logo img{
        height: 12rem;
    }

    .banner-content h1{
        font-size: 1.8rem;
    }

    .banner-content p{
        font-size: 1rem;
    }

    .banner-content button{
        font-size: 1.7rem;
        padding: 0.6rem;
        width: 90%;
    }

    /* oque vou aprender*/

    #course-content{
        height: 37rem;
    }

    #course-content h2{
        font-size: 1.7rem;
        margin-top: 2.5rem;
    }
    #course-content p{
        font-size: 1rem;
    }

    .module1{
        padding: 1.2rem;
        font-size: 1.2rem;
        width: 80%;
    }

    
    .module2{
        padding: 1.2rem;
        font-size: 1.2rem;
        width: 80%;
    }

    
    .module3{
        padding: 1.2rem;
        font-size: 1.2rem;
        width: 80%;
    }

    /*Imagem do meio | texto motivador*/

    #transform-world {
        height: 25rem;
        padding:2rem 1rem;
    }

    #transform-world p{
        margin-top: 1rem;
        font-size: 2.1rem;
        width: 80%;
    }

    /*Desafios Profissionais*/
    #professional-challenges{
        height: 35rem;
    }

    #professional-challenges img{
        height: auto;
        width: 80%;
    }

    #professional-challenges h2{
        margin-top: 2rem;
        font-size: 1.7rem;
    }

    #professional-challenges p{
        font-size: 1rem;
        width: 85%;
       
    }

    .dio-logo{
        width: 80%;
    }

    footer p {
        font-size: 1.3rem;
    }

}